<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply section</title>
      <!--favivon-->
     <link href="/static/assets/images/nexicon.png" sizes="32x32" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        button{
            background: linear-gradient(to right, #007bff, #00c6ff);
            border: none;
            font-weight: bold;
            transition: transform 0.2s ease;
        }
    </style>
</head>
<body>
{#<a href="/myapp/view_complaint/" class="btn btn-danger" style=" margin-top: 20px; margin-left: 20px;">X</a>#}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="/myapp/send_reply_post/">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ id }}">
                    <div class="form-group">
                        <label for="Reply">Reply</label>
                        <textarea type="text" class="form-control" id="Reply" placeholder="Reply" required name="reply"> </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block w-100">Send</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
